{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{# bootstrap_css #}
{# bootstrap_javascript #}

{# bootstrap_messages #}

{% block head_title %}UMUC-CS{% endblock %}

{# Display the form #}
{% block invite_form %}
                      <form action="." method="post" class="form">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                      {% buttons %}
                        <button type="submit" class="btn btn-default">Join Team!</button>
                      {% endbuttons %}
                      </form>
{% endblock %}
