{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block head_title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/flatty.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
      <div class="col-xs-6" style="padding-left: 0">
        <div class="navbar-header">
		<a href="#" class="navbar-brand pull-left" style="color: #fdcc52">{{ community }}</a>



        </div>
        </div>
        <div class="col-xs-6" style="padding-right: 0">
          <a href="https://github.com/sanchagrins/umuc-cs-slack" class="navbar-icon pull-right"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
        </div>
  </nav>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" id="main">
    <h2>Join us on Slack!</h2>
    <p>Enter your email below to join {{ community }} on Slack!</p>
    {% block invite_form %}{% endblock %}
      <!-- <form class="form">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email address">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> I agree to the <a href="#" class="terms">Terms and Code of Conduct</a></label>
        </div>
        <button type="submit" class="btn btn-default">Join Team!</button>
      </form> -->
      <div class="footer text-muted" style="margin: auto">Powered by <a href='https://github.com/sanchagrins/SlackInvite'>Django Slack-Invite</a></div>
    </div>
  </div>
</div>
</div>
    
</body>
</html>
