body {
	padding-top: 50px;
}

a.terms:link {
	color: #2c3e50;
}

.footer {
    position: absolute;
    bottom: -100;
    padding: 50px;
    right: 0;
    left: 0;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #5a616B;
}

.navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  float: left;
  padding: 18px 10px;
  font-size: 30px;
  line-height: 21px;
  height: 60px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-icon {
  font-family: 'Roboto Condensed', sans-serif;
  float: left;
  padding: 18px 10px;
  font-size: 19px;
  line-height: 21px;
  height: 60px;
  color: #fff;
}
.navbar-icon:hover,
.navbar-icon:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-title,
  .navbar > .container-fluid .navbar-title {
    margin-left: -15px;
  }
}